body {
  background-color: rgb(64, 65, 67);
  margin:auto;
  width: 60%;
  padding: 10px;
  text-align: center;
}
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

h1{
  color: rgb(252, 173, 0);
  margin-top: 2%;
}

.inputWithIcon{
  position:relative;
}
span {
  color: rgb(252, 173, 0);
  text-align: center;
  font-size: 20px;
}

h3 {
  text-align: center;
  margin-top: 5%;
  font-size: 20px;
}

.btn {
  display: inline-block;
  width: 10em;
  margin:0;
  background-color: #f6a800;
  border: #f7c75f
  }
  .nav-item{
    text-align: justify;
   }

/* home */
  #botones {
    display: block;
  }
